html {
    font-family: "Avenir Next", Helevetica, sans-serif,Roboto;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #dadddf;
    margin-left: -5px;
    padding-top: 10px;
    padding-left: 10px;
}

label {
    font-size: 20px;
}

.md-input-container label{
    color: black;
}

.Find {
    background-color: #eb5713;
    border: 1px solid #eb5713;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    padding: 6px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.Find:hover {
    background-color: #F4511E;
}

.Find:active {
    position: relative;
    top: 1px;
}

.loadingContainer {
    text-align: center;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.loadingContainer span {
    font-size: 2em;
    width: 100%;
}

.loadingContainerImage {
    text-align: center;
    width: 100%;

}

.loadicon {
    width: 45%;
    height: 100%;
}

.mainContent {
    display: flex;
    flex-flow: row wrap;
    padding: 5px;
    width: 100%;
}


.recipeDetails {
    padding: 5px;
    width: 450px;
    height: 300px;
    overflow-y: scroll;
}

.recipeImg {
    width: 300px;
    height: 300px;
    border-radius: 0px 10px 5px 50px;
}

.recipeSearchContainer {
    width: 100%;
    margin-top:20px;
}

/* styling for star rating */
star-rating-directive {
    font-size: 40px;
    display: inline-flex;
    cursor: pointer;
}


.star {
    color: #b0b0b0;
}

.star.full {
    color: #f4d91f;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.banner h1{
    
    font-size: 30px;
    margin-left: 20px;
    float: left;
    padding: 10px;

}

.banner a {
    float: right;
    margin-top: 10px;
    padding-right: 20px;
    text-decoration: none !important;
    color: #ff3434;
}

.banner a:hover{
    text-decoration: none;
    color: #ff3434;
}
.banner {
    margin-bottom: 50px;
    position: fixed;
    width: 100%;
    background-color: #dadddf;
}

.section1 {
    text-align: center;
    font-size: 40px;
    margin-top: 20%;
    height: 100%;
    width: 100%;
}



/* Control the left side */
.left {
    float: left;
    width: 15%;
    height: 100%;
    margin-left: 20px;
    margin-top: 80px;
    position: fixed;
}

/* Control the right side */
.right {
    margin-top: 75px;
    margin-left: 300px;
    widows: 100%;
}

[data-tip] {
    position: relative;

}

[data-tip]:before {
    content: '';
    /* hides the tooltip when not hovered */
    display: none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #dadddf;
    position: absolute;
    top: 30px;
    left: 35px;
    z-index: 8;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}

[data-tip]:after {
    display: none;
    content: attr(data-tip);
    position: absolute;
    top: 35px;
    left: 0px;
    padding: 5px 10px;
    background: #dadddf;
    color: #000;
    z-index: 9;
    font-size: 0.75em;
    height: 25px;
    line-height: 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    word-wrap: normal;
}

[data-tip]:hover:before,
[data-tip]:hover:after {
    display: block;
}

.recipeContainer {
    width: 100%;
    padding: 10px;
}

@media (min-width: 600px) {
    .recipeContainer {
        width: 100%;
        padding: 10px;
    }

}


@media (min-width: 1000px) {
    .right {
        width: 100%;
        padding: 10px;
    }
}

.container1{
  margin-bottom:-20px;
}




