<!DOCTYPE html>
    <head>
        <title>Project</title>
    </head>
    <body ng-app="recipeModule">
        <script src="scripts/angular.min.js"></script>
        <script src="scripts/recipes-controller.js"></script>
        <div ng-controller="RecipeController">
            <h1>{{ recipeHeading }}</h1>
            <br/>   
            <input placeholder="Enter ingredients" ng-model="queryIngredients" type="text"/>
            <br/><br/><input placeholder="Enter filters" ng-model="filters" type="text"/> 
            <br/><br/><button ng-click="searchForRecipes(queryIngredients,filters)">Find Recipes</button>

            <div ng-repeat="recipeObj in listOfRecipes">
                <h1>{{recipeObj.recipe.label}}</h1>
                <img src="{{recipeObj.recipe.image}}"/>
            </div>
        </div>
    </body>
</html>