<!DOCTYPE html>
    <head>
        <title>Project</title>
    </head>
    <body ng-app="recipeModule">
        <script src="scripts/angular.min.js"></script>
        <script src="scripts/recipes-controller.js"></script>
        <div ng-controller="RecipeController">
            <h1>{{ recipeHeading }}</h1>
            <button ng-click="changeRecipeHeading()">Change heading!</button>
            <br/>   
            <input ng-model="queryIngredients" type="text"/><button ng-click="searchForRecipes(queryIngredients)">Find Recipes</button>

            <div ng-repeat="recipeObj in listOfRecipes">
                <h1>{{recipeObj.recipe.label}}</h1>
                <img src="{{recipeObj.recipe.image}}"/>
            </div>
        </div>
    </body>
</html>