<!DOCTYPE html>
    <head>
        <title>Foodgether</title>
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
          <!-- needed for rating icon -->
          <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
          <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/js/i18n/defaults-*.min.js"></script>
    </head>
    <body ng-app="recipeModule">
        <script src="scripts/angular.min.js"></script>
        <script src="scripts/recipes-controller.js"></script>
        <div class="mainContent" ng-controller="RecipeController">
            <div class="recipeSearchContainer">
                <h1>{{ recipeHeading }}</h1>
                <br/>
                <label>Ingredients</label><br/><input placeholder="Enter ingredients" ng-model="queryIngredients" type="text"/>
                <br/><br/><label>Diet Filters</label><br/><select ng-model="dietFilters" class="selectpicker" multiple data-live-search="true">
                  <option ng-repeat="dietFilter in dietFilterOptions">{{dietFilter}}</option>
                </select>
                <br/><label>Health Filters</label><br/><select ng-model="healthFilters" class="selectpicker" multiple data-live-search="true">
                  <option ng-repeat="healthFilter in healthFilterOptions">{{healthFilter}}</option>
                </select>
                <br/><br/><button ng-click="searchForRecipes(queryIngredients,dietFilters,healthFilters)">Find Recipes</button>
            </div>
            <div ng-if="listOfRecipes.length == 0 && couldNotFindAnyResults">
                <h3>Sorry, could not find any recipes with that search criteria :(</h3>
            </div>
            <div class="recipeContainer" ng-repeat="recipeObj in listOfRecipes">
                <h4>{{recipeObj.recipe.label}}</h4>
                <div style="display:flex;">
                    <img class="recipeImg" src="{{recipeObj.recipe.image}}"/>
                    <div class="recipeDetails">
                        <star-rating-directive user="user" recipeObj="recipeObj"></star-rating-directive>
                        <recipe-average-rating-directive recipeObj="recipeObj"></recipe-average-rating-directive>
                        <a href="{{recipeObj.recipe.url}}">Click here for instructions</a>
                        <p>Calories: {{recipeObj.recipe.calories|number:0}}</p>
                        <p>Ingredients:
                            <ul>
                                <li ng-repeat="ingredient in recipeObj.recipe.ingredientLines">{{ingredient}}</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
