<!DOCTYPE html>
<head>
   <title>Sign Up</title>
   <link rel="stylesheet" href="styles/main.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/css/bootstrap-select.min.css">
   <!-- Latest compiled and minified JavaScript -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/js/bootstrap-select.min.js"></script>
</head>

<body ng-app="registerModule">
  <h1>Sign Up</h1>
   <script src="scripts/angular.min.js"></script>
   <script src="scripts/register-controller.js"></script>
   <section ng-controller="RegisterController">
      <form ng-submit="createUser(firstname, location, password, username, level)">
         First Name: <input type="text" ng-model="firstname" name="name">
         <br/><br/>Location: <input type="text" ng-model="location" name="location">
         <br/><br/>Username: <input type="text" ng-model="username" name="username">
         <br/><br/>Password: <input type="password" ng-model="password" name="password">
         <br/><br/>Level: <select name="level" ng-model="level">
              <option value="beginner">Beginner</option>
              <option value="intermediate">Intermediate</option>
              <option value="expert" selected>Expert</option>
            </select>
         <br/><br/><input type="submit" value="Send">
      </form>
   </section>
</body>
</html>
